body { background: #620; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 45px; display: flex; }
.block-session-0 { color: #74357e; font-size: 16px; margin-bottom: 5px; }
.block-search-1 { color: #ac26f5; font-size: 12px; margin-bottom: 5px; }
.block-database-2 { color: #847fcf; font-size: 20px; margin-bottom: 5px; }
.block-email-3 { color: #3683b7; font-size: 18px; margin-bottom: 5px; }
.block-validator-4 { color: #61aec0; font-size: 20px; margin-bottom: 5px; }